.App {
    text-align: center;
    /*max-width: 600px;*/
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    /*.App-logo {*/
    /*  animation: App-logo-spin infinite 20s linear;*/
    /*}*/
}

.App-header {
    background-color: #BA4949;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.Clock {
    background-color: #C05B5C;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    padding: 24px 48px;
}

.Clock-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    white-space: nowrap;
    width: auto;
    margin-bottom: 5px;
}

.Clock-header a {
    color: #FFFFFF;
    border-radius: 3px;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
    padding: 5px 10px;
    border-bottom: 2px solid transparent;
    transition: all 0.2s ease-in-out;
}

.active {
    background-color: #A44D4E;
}

.Clock-header a:not(:last-child) {
    margin-right: 12px;
}

.Clock-header a:hover {
    border-bottom: 2px solid #BA4949;
}

.Clock-main {
    font-size: 128px;
    font-weight: bold;
    color: #FFFFFF;
    margin-top: 0;
    margin-bottom: 20px;
}

.start-button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    border-radius: 50px;
    background-color: #ff616d;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
}

.start-button:hover {
    background-color: #ff4d5a;
}

.start-button:focus {
    outline: none;
}

.start-button-text {
    margin-right: 10px;
}

/* how to make an icon! */
.start-button-icon {
    width: 10px;
    height: 10px;
    background-color: #fff;
    border-radius: 50%;
}


input::placeholder {
    font-style: italic;
}

.task-header {
    background-color: #BA4949;
    color: white;
    /*padding: 10px;*/
}

.task-header span {
    font-size: 24px;
    font-weight: bold;
}

.task-list {
    list-style-type: none;
}

.task-list > .task-item {
    display: flex;
    align-items: center;
    padding: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #eaeaea;
    background-color: #FFFFFF;
    border-radius: 6px;
    color: black;
    position: relative;
    border-left: 6px solid transparent;
    font-size: 18px;
    font-family: "Apple SD Gothic Neo";
    font-weight: bold;
    width: 400px;
    height: 2.4vh;
}

.add-task-btn {
    font-size: 18px;
    font-family: "Apple SD Gothic Neo";
    color: #C88685;
    font-weight: bolder;
    border: dotted #E4C1C1;
    border-radius: 6px;
    background-color: #AC4343;
    width: 100%;
    height: 3vh;
}

.task-item.finished span {
    text-decoration: line-through;
    color: #afadad;
}

.task-item.current-task {
    border-left: 6px solid black;
    margin-bottom: 8px; /* 누른 느낌 주려고 */
    margin-top: 2px;
}

.task-item.current-task:hover {
    border-left: 6px solid black;
}

/*.task-item input {*/
/*    margin-right: 10px;*/
/*}*/

/*.task-item.checkbox :checked {*/
/*    color: black;*/
/*}*/

.custom-checkbox {
    /*display: inline-block;*/
    width: 24px;
    height: 24px;
    border-width: 3px;
    border-style: solid;
    border-color: #DFDFDFFF;
    background-color: #DFDFDFFF;
    margin-right: 10px;
    border-radius: 50%;
    color: gray;
}

.custom-checkbox.finished {
    /*display: inline-block;*/
    font-size: 20px;
}

.custom-checkbox:hover {
    background-color: rgba(255, 255, 255, 0.61);
}

.task-item:hover {
    border-left: 6px solid #DFDFDFFF;
}

.task-stripe {
    width: 5px;
    height: 100%;
    background-color: black;
    position: absolute;
    left: -5px;
    top: 0;
    /*opacity: 0;*/
    /*transition: opacity 0.3s ease;*/
}

.task-stripe.active {
    background-color: black;
}

.current-task-detail {
    color: #FFFFFF
}

.task-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 88%; /* 이걸 해야 attempts-number을 오른쪽에 표시할 수 있다.*/
}

.attempts-number {
    margin-right: 10px; /* Adjust the margin as needed */
    color: #969696;
    letter-spacing: 2px;
}

.edit-task-box {
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 100%;
    background-color: #FFFFFF;
    border-radius: 8px;
    padding: 0;
    box-shadow: 0 2px 6px #0000001a;
    color: black;
    font-size: 18px;
    font-weight: bold;
    text-align: left;
    margin-bottom: 10px;
    margin-left: 0;
}

.edit-task-box.title {
    font-weight: bold;
}

.edit-task-box input[type='text'] {
    /*padding: 8px;*/
    font-size: 20px;
    border: none;
    margin-bottom: 12px;
}

.edit-task-box > *:not(.edit-task-detail-action-bar) {
    margin-left: 2vw; /* Adjust the indentation as needed */
}

.edit-task-box input[name='title'] {
    font-weight: bold;
}

#act-est-pomodoros {
    font-size: 16px;
    margin-bottom: 0.5vh;
}

.task-number-input-box {
    margin-bottom: 1vh;
}

.task-number-input-box input[type="number"] {
    width: 48px; /* Adjust the width as desired */
    height: 24px;
    font-size: 16px;
    font-weight: bold;
}

.task-number-input-box > .est-attempts-input-box {
    color: #969696;
}


/* 이건 어쩔 수 없다. */
.task-number-input-box input[type="number"]::-webkit-inner-spin-button,
.task-number-input-box input[type="number"]::-webkit-outer-spin-button {
    width: 24px; /* Adjust the width as desired */
    height: 24px; /* Adjust the height as desired */
    background-color: #FFFFFF; /* Set the desired background color */
    /* Add any additional styling properties */
}


.edit-task-detail-action-bar {
    /*
    If you want the .edit-task-detail-action-bar to fill the entire width of its container,
    */
    width: 400px;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    height: 3vh;
    background-color: #DFDFDF;
}

.edit-task-detail-action-bar button {
    margin-left: 2vw;
    border: none;
    height: 1.2vh;
    padding: 3px;
    background-color: transparent;
    font-weight: bold;
    font-size: 18px;
}

.edit-task-detail-action-bar > .cancel-btn {
    margin-left: 12vw;
}

/*.create-task-form input {*/
/*    width: 36vw;*/
/*    padding: 8px;*/
/*    margin-bottom: 12px;*/
/*}*/

